<!--<div *ngFor="let producto of productos; let i = index">
    <p>{{ i + 1}}. nombre: {{producto.nombre}}</p>|
    <p>Precio: {{ producto.precio }}</p>
</div>  

<div *ngIf="usuario.isLoggedIn">
    <p>Bienvenido, {{ usuario.nombre }}</p>
</div>
<div *ngIf="!usuario.isLoggedIn">
    <p>por favor, inicia sesion.</p>
</div>

<div [ngClass]="{'activo': usuario.activo, 'inactivo': !usuario.activo}">
    {{usuario.nombre}}
</div>

<form>
    <label for="nombre">nombre:</label>
    <input id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
    <button [disabled]="!usuario.nombre">enviar</button>
</form>
<div class="card-container">
    <div *ngFor="let producto of productos; let i = index">
        <div class="card" style="width: 18rem;">
            <img src={{producto.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{producto.nombre}}</h4>
                <p class="card-text">{{producto.desc}}</p>
                 From Uiverse.io by doniaskima 
                <button class="btn-31">
                    <span class="text-container">
                        <span class="text">agregar al carrito</span>
                    </span>
                </button>
            </div>
            <p>Precio: {{ producto.precio }}</p>
        </div>
    </div>
</div>-->

<h1>Productos</h1>
<div class="card-container">
    <ng-container *ngIf="Productos && Productos.length">
        <ng-container *ngFor="let producto of Productos; let i=index">
            <div *ngIf="producto.disponible" class="card">
                <img [src]="producto.imagen" alt="..." class="card-img-top">
                <h2 class="card-title">{{producto.nombre}}</h2>
                <h2 class="card-text">{{producto.descripcion}}</h2>
                <h2>Precio: {{producto.precio}}</h2>
                <!-- From Uiverse.io by adamgiebl -->
                <button (click)="agregar(producto)"> Agregar al carro
                </button>
                <button (click)="agregar"></button>
                </div>
        </ng-container>
    </ng-container>
</div>