
<h1>Productos en home </h1>
<div class="card-container">
    <ng-container *ngIf="Productos && Productos.length">
        <ng-container *ngFor="let producto of Productos; let i=index">
            <div *ngIf="producto.disponible" class="card">
                <img [src]="producto.imagen" alt="..." class="card-img-top">
                <h2 class="card-title">{{producto.nombre}}</h2>
                <h2 class="card-text">{{producto.descripcion}}</h2>
                <h2>Precio: {{producto.precio}}</h2>
                <!-- From Uiverse.io by adamgiebl -->
                <button (click)="agregar(producto)"> Agregar al carro</button>
                <button (click)="agregarAfavorito(producto)">Agregar a favoritos</button>
                </div>
        </ng-container>
    </ng-container>
</div>