<h1>🛒 Carrito de compras</h1>

<div *ngIf="productosEncarrito.length === 0">
  <p>No hay productos en el carrito</p>
</div>

<table class="matrix-table" *ngIf="productosEncarrito.length > 0">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productosEncarrito; let i = index">
      <td><img [src]="item.producto.imagen" alt="producto" /></td>
      <td>{{ item.producto.nombre }}</td>
      <td>{{ item.producto.descripcion }}</td>
      <td>{{ item.producto.precio | currency: 'ARS':'symbol' }}</td>
      <td>
        <button (click)="quitarCantidad(i)">-</button>
        {{ item.cantidad }}
        <button (click)="agregarCantidad(i)">+</button>
      </td>
      <td>
        <button (click)="eliminarProducto(item.producto.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <button class="btn-matrix-comprar" (click)="realizarCompra()">
  🛒 <span>Realizar Compra</span>
  <div class="matrix-glow"></div>
</button>-->

<div class="text-end mt-4" *ngIf = "productosEncarrito.length > 0"  >
 <h4 class="fu-bold">total: {{calcularTotal()}}</h4>
 <button class="btn btn-primary mt-2" (click)="irAFormularioCompra()" >
   <i class="bi bi- cart-check"></i> Realizar Compra
 </button>

</div>